
.column {
   position:relative;
   display:flex-wrap;
   zindex:100;
   height:20%;
   text-align:center;

 
}

/* The Modal (background) */
.modal {
  display: block;
  position: relative;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
 
  overflow: auto;
  background-color: grey;
  opacity:inherit;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
   height:100%;
  max-width: 1200px;


}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption ,.contentDesc,#headerName,#thumbnailDiv,#picLabel{ 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}


/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color:#008B45;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  zindex:10;
   background-color:#008B45;
   border-radius:10%;
     top: 0;
left:20%;
}


.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  height:40px;
  color: white;
}

img.demo {
  opacity: 0.6;

}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}